<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title >Daily Mood Tracker</title>
</head>
<body>
    <h1 class="main-title">Daily Mood Tracker       </h1>

    <form method="POST" action="/" class = "question-form">
        <div class = "date-input">
        <p for="date">Date</p>
        <input type="date" id="date" name="date"  value = "{{ current_date }}" required>  
        </div>
        <div class = "rating-title">
        <p> How was your day? </p>
        </div>
        <div class = "rating-buttons">
        <input type="radio" id="good" name="mood" value = "Good" required>
        <label for = "good">Good</label><br>
        <input type="radio" id="bad" name="mood" value = "bad" required>
        <label for = "bad">Bad</label><br> 
        </div>
        <div class = "reason-input">
        <p for="reason">Reason</p>
        <textarea id="reason" name="reason"></textarea>
        </div>
        <button type="submit" value="Submit" class = "submit-btn">Submit</button>
    </form>
    {% set flash_list = get_flashed_messages() %}
    {% set flash_msg = flash_list[0] if flash_list else '' %}
    <div id="flash-message" data-message="{{ flash_msg }}"></div>

    <div id="popup">
        <div id="popup-content">
        <h2>✅ Success</h2>
        <p>Your mood has been recorded.</p>
        <button onclick="closePopup()">Back</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>